$primary-color: #032539;
$primary-color-opacity: #032539ed;
$second-color: #1C768F;
$third-color: #FBF3F2;
$third-color-opacity: #fbf3f230;
$fourth-color: #FA991C;
$fourth-color-opacity: #fa9a1c5f;
$small-all: 5px 10px;
$medium-all: 15px 20px;
$radius: 5px;